body{
  background-color: #3f3f3f;
}

#players-game-board{
  display:grid;
  grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width:75em;
  height:75em;
  
  

  .numbers{
    display:flex;
    justify-content: space-around;
    align-items: center;    
  }

  .letters,
  .A, 
  .B,
  .C,
  .D,
  .E,
  .F,
  .G,
  .H,
  .I,
  .J{
    background-color: rgba(47, 70, 202, 0.489);
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    div {
      border:1px solid black;


      &:hover{
        background-color: rgba(46, 69, 201, 0.350);
      }
    }
     p, .letters{
      display: flex;
      justify-items: center;
      align-items: center;
      padding:.5em;
      

       border-radius: 30px;
       margin-right: auto;
       margin-left: auto;


    
     }
  
  }
  .identify{
    &:first-child{
      background-color: red;
      display:flex;
      justify-content: center;
      align-items: center;
    }
  }
}

